@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
    background-color: v.$primario;

    .contenido-footer{
        padding: 5rem 5rem 3rem;
        @include m.tablet {
            @include m.grid(3, 5rem);
        }
    }
    .copyright{
        color: v.$blanco;
        font-weight: 700;
        font-size: 1.8rem;
        text-align: center;
        padding-bottom: 1rem;
        margin: 2rem 0 0;
    }
}

.footer-div{
    font-family: v.$fuenteCursiva;
    text-align: center;
    margin-bottom: v.$separacion;
    @include m.tablet {
        margin-bottom: 0;
    }
    h3{
        font-family: v.$fuenteCursiva;
        margin: 0 0 1rem;
        color: v.$secundario;
        font-size: 2.4rem;
    }
    p, a{
        font-weight: 700;
        margin: 0;
    }
    
}