@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido-nosotros{
    @include m.tablet {
        @include m.grid(2, 5rem);
    }
    .imagen{
        margin-bottom: 5rem;
       @include m.tablet {
            margin: 0;
       }
        img{
            transform: rotate(-5deg);
            // efecto polaroid
            border: 3rem solid v.$blanco;
            box-shadow: 9px 10px 5px -7px rgb(0 0 0 /.35) ;
        }
    }

    blockquote{
        margin: 0;
        padding: 1rem;
        border-left: 1rem solid v.$primario;
        font-weight: 550;
    }
}